In [14]:
# Importo librerias que voy a usar 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [15]:
df = pd.read_csv('./Datasets/Call_Center_1999_DataSet.csv', delimiter=';')
df.head(5)

,vru.line,call_id,customer_id,priority,type,date,vru_entry,vru_exit,vru_time,q_start,q_exit,q_time,outcome,ser_start,ser_exit,ser_time,server,startdate
0,AA0101,33116,9664491.0,2,PS,1999-01-01,0:00:31,0:00:36,5,0:00:36,0:03:09,153,HANG,0:00:00,0:00:00,0,NO_SERVER,0
1,AA0101,33117,0.0,0,PS,1999-01-01,0:34:12,0:34:23,11,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER,0
2,AA0101,33118,27997683.0,2,PS,1999-01-01,6:55:20,6:55:26,6,6:55:26,6:55:43,17,AGENT,6:55:43,6:56:37,54,MICHAL,0
3,AA0101,33119,0.0,0,PS,1999-01-01,7:41:16,7:41:26,10,0:00:00,0:00:00,0,AGENT,7:41:25,7:44:53,208,BASCH,0
4,AA0101,33120,0.0,0,PS,1999-01-01,8:03:14,8:03:24,10,0:00:00,0:00:00,0,AGENT,8:03:23,8:05:10,107,MICHAL,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444448 entries, 0 to 444447
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   vru.line     444448 non-null  object
 1   call_id      444448 non-null  int64
 2   customer_id  444448 non-null  object
 3   priority     444448 non-null  int64
 4   type         444448 non-null  object
 5   date         444448 non-null  object
 6   vru_entry    444448 non-null  object
 7   vru_exit     444448 non-null  object
 8   vru_time     444448 non-null  int64
 9   q_start      444448 non-null  object
 10  q_exit       444448 non-null  object
 11  q_time       444448 non-null  int64
 12  outcome      444448 non-null  object
 13  ser_start    444448 non-null  object
 14  ser_exit     444448 non-null  object
 15  ser_time     444448 non-null  int64
 16  server       444448 non-null  object
 17  startdate    444448 non-null  int64
dtypes: int64(6), object(12)
memory usage: 61.0+ MB

In [17]:
#Transformamos los tipos de datos
df['vru.line']  = df['vru.line'].astype('str')
df['call_id']   = df['call_id'].astype('str')
df['priority']  = df['priority'].astype('category')
df['type']      = df['type'].astype('category')
df['date']      = pd.to_datetime(df['date'])
df['vru_entry'] = pd.to_datetime(df['vru_entry'])
df['vru_exit']  = pd.to_datetime(df['vru_exit'])
df['q_start']   = pd.to_datetime(df['q_start'])
df['q_exit']    = pd.to_datetime(df['q_exit'])
df['outcome']   = df['outcome'].astype('category')
df['ser_start'] = pd.to_datetime(df['ser_start'])
df['ser_exit']  = pd.to_datetime(df['ser_exit'])
df['vru_entry'] = pd.to_datetime(df['vru_entry'])